.new-card-content{
  @include card-content;
  padding-top: 80px;
  // 支払い方法
  .new-card{
    @include card-item;
    height: 550px;
    &__title{
      @include card-title;
      font-size: 20px;
      padding: 10px 0;
    }
    &__content{
      width: 300px;
      margin: 0 auto;
      // カード番号
      &__card-number{
        &__box{
          display: flex;
          padding: 10px 0;
        }
        .number{
          width: 100%;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
      }
      // 有効期限
      &__card-date{
        &__box{
          display: flex;
          padding: 10px 0;
        }
        &__box2{
          display: flex;
          padding: 10px 0;
          text-align: center;
          .exp_month{
            width: 100px;
            z-index: 2;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
            &__text{
              width: 50px;
              line-height: 48px;
            }
          }
          .exp_year{
            width: 100px;
            z-index: 2;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
            &__text{
              width: 50px;
              line-height: 48px;
            }
          }
        }
      }
      // セキュリティーコード
      &__card-security{
        &__box{
          display: flex;
          padding: 10px 0
        }
        .cvc{
          width: 100%;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
      }
      // 登録ボタン
      #token_submit{
        @include card-submit;
        width: 100%;
        font-size: 14px;
      }
    }
  }
  .required{
    @include required;
  }
}