.register-card-content{
  @include card-content;
  padding-top: 100px;
  // クレジットカード情報
  .register-card-item{
    @include card-item;
    height: 80%;
    &__title{
      @include card-title;
      width: 100%;
      font-size: 36px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    // カード番号
    &__card-number{
      text-align: center;
      font-size: 20px;
    }
    // 有効期限
    &__date{
      font-size: 20px;
      display: flex;
      justify-content: space-evenly;
    }
    // 削除ボタン
    &__submit{
      @include card-submit;
      width: 50%;
      font-size: 20px;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}