.purchase-content{
  @include card-content;
  padding-top: 100px;
  // 商品購入の完了
  .purchase-item{
    @include card-item;
    height: 80%;
    &__title{
      @include card-title;
      font-size: 36px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    // トップページへのボタン
    &__top{
      @include card-submit;
      width: 70%;
      font-size: 20px;
      margin: 0 auto;
      margin-top: 100px;
      &__link{
        text-decoration: none;
        color: #fff;
      }
    }
  }
}