.main2{
  background: #f8f8f8;
  &__show{
    padding: 40px;
    margin: 0 auto;
    &__content{
      width: 700px;
      margin: 0 auto;
      &__top{
        .itemsbox{
          background-color: #fff;
          padding: 24px 40px 40px;
          &__name{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body{
            margin: 16px 0 0;
            .imagebox{
              display: flex;
              position: relative;
              .images{
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                .items-box_photo__sold{
                  position: absolute;
                  left: 33px;
                  width: 0;
                  height: 0;
                  border-top: 60px solid #ea352d ;
                  border-right: 60px solid transparent;
                  border-bottom: 60px solid transparent;
                  border-left: 60px solid #ea352d ;
                  &__inner{
                    transform: rotate(-45deg);
                    font-size: 28px;
                    margin:-35px 0px 0px -55px;
                    color: #fff;
                    letter-spacing: 1px;
                    font-weight: 600;
                  }
                }
                img{
                  object-fit: cover;
                  height: 346px;
                  width: 553px;
                }
                ul{
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  li{
                    margin: 0 10px 0 0;
                    img{
                      object-fit: cover;
                      height: 87px;
                      width: 100px;
                    }
                  }
                }
              }
            }
          }
          &__price{
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            .money{
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &__data{
              font-size: 16px;
            }
          }
          &__explan{
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          &__table{
            margin-bottom: 20px;
            table{
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              th{
                width: 20%;
                background-color: #eee;
                font-weight: 400;
                padding: 8px;
                border: 1px solid #dedede;
                font-size: 14px;
                text-align: center;
              }
              td{
                width: 61%;
                padding: 15px 15px;
                border: 1px solid #dedede;
                font-size: 14px;
                a{
                  text-decoration: none;
                  color: #3CCACE;
                }
              }
            }
          }
          .soldout{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            font-size: 24px;
            letter-spacing: 3px;
            color: #ea352d;
          }
          .buybutton{
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
            padding-top: 10px;
            margin-left: 120px;
          }
        }
        .comments{
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          form{
            textarea{
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }
            .action{
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            .comebutton{
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
              padding-top: 10px;
            }

          }
        }
            .main2__content__bottom{
              a{
                text-decoration: none;
                color: #3CCACE;
                font-size: 20px;
                font-weight: bold;
                margin: 24px 0 8px;
              }
            }
            .edititem{
              text-align: center;
              margin-top: 20px;
              a{
                margin: 0 auto;
                text-align: center;
                display: block;
                height: 60px;
                width: 200px;
                line-height: 40px;
                background: #3CCACE;
                border: 1px solid #3CCACE;
                color: #fff;
                font-size: 18px;
                border-radius: 100px;
                padding-top: 10px;
                text-decoration: none;
              }
            }
            .destroyitem{
              text-align: center;
              height: 50px;
              margin-top: 40px;
              a{
                display: block;
                height: 60px;
                width: 250px;
                line-height: 40px;
                margin: 0 auto;
                background: rgb(87, 90, 90);
                border: 1px solid rgb(86, 92, 92);
                color: #fff;
                font-size: 18px;
                border-radius: 100px;
                padding-top: 10px;
                text-decoration: none;

              }
            }
          
      }
    }
  }
}