
.category_list{
  display: flex;

  .parents_list{
    border-bottom: 1px solid #f8f8f8;
    display: block;
    width: 240px;
    padding: 3px 8px 3px 0px;
  
    .parent_category{
      color: #333;
      text-decoration: none;
      line-height: 32px;
      background-position: center right;
      background-repeat: no-repeat;
      background-size: 18px;
      padding-right: 30px;    
    }

  .children_list{
    border-bottom: 1px solid #f8f8f8;
    display: block;
    width: 240px;
    padding: 3px 8px 3px 0px;
    // display: flex;

  }
}
  
}
