.category_box{
  display: none;
    
  .parent_category{
    @include category_box;
  }

  .child_category{
    @include category_box;
  }

  .grand_child_category{
    @include category_box;
  }  
}

.catbtn:hover > .category_box{
  display: block;
  display: flex;
  z-index: 10;
  position: absolute;
  background-color: #fff;
}