.purchase-content
  -# 商品購入の完了
  .purchase-item
    .purchase-item__title
      購入が完了しました！
    -# トップページへのボタン
    .purchase-item__top
      =link_to "トップページ", root_path, class: "purchase-item__top__link"