@mixin card-content {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #EEEEEE;
  padding-bottom: 100px;
}

@mixin card-item {
  width: 50%;
  background-color: white;
  margin: 0 auto;
}

@mixin card-title {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid rgb(204, 204, 204);
}

@mixin card-submit {
  display: block;
  border-radius: 4px;
  text-align: center;
  background: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  line-height: 48px;
}

@mixin required {
  margin-left: 10px;
  background-color: red;
  color: #fff;
  border-radius: 2px;
  font-style: normal;
  line-height: 1.4em;
}